
.Rhistory
tetranychus-metapop-2019-script-annotated.docx
tetranychus-metapop-2019-script-annotated.log
tetranychus-metapop-2019-script-annotated.tex
.Rproj.user
R_output/model.Rdata
R_output/tab_results.Rdata
*.Rdata
R/tetranychus-metapop-2019-supplementary.docx
R/tetranychus-metapop-2019-supplementary.pdf
Rplot.pdf
Rplot01.pdf
Rplot02.pdf
